.icon--mleft {
    margin-left: 8px;
}

.griditem--center {
    margin: auto !important;
}

.container--fullwidthcenter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 7rem;
}

.width-100 {
    width: 100%;
}

.windowheight {
    height: 100vh;
}

@for $i from 1 through 10 {
    .mtop-#{$i} {
        margin-top: 0rem+$i !important;
    }

    .mbottom-#{$i} {
        margin-bottom: 0rem+$i !important;
    }
}